.ant-form-item-required{
    color: #abb7c4 !important;
    font-weight: 500 ;
}
.ant-input{
    background-color: #233a50 !important;
    color: #abb7c4 !important;
    height: 40px;
    border: none;
    outline: none;
}
.ant-btn-primary{
    background-color: #dd003f !important;
    font-weight: 500;
}
.ant-btn-primary:hover{
    background-color: none !important;
    color: black !important;
}