
.pagination-container {
  display: flex;
  justify-content: center;
}

.ant-pagination-item, .ant-pagination-prev, .ant-pagination-next{
  border: 1px solid #405266 !important;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 33px;
  width: 33px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  color: white !important; 
}
.ant-pagination .ant-pagination-prev button{
  color: white !important; 
}
.ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis{
  border: 1px solid #405266 !important;
  color: white;
}
.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis{
  border: 1px solid #405266 !important;
  font-size: 12px;
  color: white;
}
.ant-pagination .ant-pagination-item a{
  color: white;
}
.ant-pagination .ant-pagination-item-active{
  background-color: transparent !important;
  color:#52c41a !important;
}

.ant-pagination-item:hover,.ant-pagination-prev:hover, .ant-pagination-next:hover {
  border-color: #dcf836 !important;
  color: #52c41a !important; 

}

.ant-pagination-item-active a {
  background: transparent !important;
  border-color: #dcf836 !important;
}
