.slick-dots {
  bottom: -45px !important;
}
.slick-dots li button:before {
  font-size: 12px !important;
  color: white;
}
.slick-dots li.slick-active button:before {
  color: white;
}

.slick-slide.slick-active.slick-current {
  z-index: 10;
}